.user-container {
    padding: 2rem;
    background: #f9fafb;
    display: flex;
    justify-content: center;
  }
  
  .user-card {
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    padding: 2rem;
    max-width: 600px;
    width: 100%;
  }
  
  .user-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .user-card h2 {
    text-align: center;
    color: #2c3e50;
  }
  
  .user-card h3 {
    margin-top: 2rem;
    color: #34495e;
  }
  
  .user-card p {
    margin: 0.3rem 0;
    font-size: 16px;
    color: #555;
  }
  
  hr {
    margin: 1.5rem 0;
    border: 0;
    border-top: 1px solid #ddd;
  }
  
  .loading, .error {
    font-size: 20px;
    text-align: center;
    margin-top: 4rem;
    color: #c0392b;
  }
  .go-back {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 18px;
    transition: color 0.3s ease;
    transition: display 0.5s ease;
  }
  
  .left-arrow {
    font-size: 20px;
    font-weight: bold;
    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
  }
  
  /* Optional: hover effect */
  .go-back:hover .left-arrow{
    opacity: 1;
    transform: translateX(0);
    color: #216e9c;
  }
  